* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.parrafo__mision {
  color: #f6f6ff;
  background-color: #5268cc; }

.parrafo__mision2 {
  color: black; }

.parrafo__mision {
  font-size: 19px;
  font-weight: 490; }

.parrafo__mision2 {
  font-size: 19px;
  font-weight: 490; }

/* ENCABEZADO*/
/* ENCABEZADO*/
header {
  background-color: #5268cc;
  position: sticky;
  top: 0;
  z-index: 2; }
  header .bg-personal {
    background-color: #5268cc; }
  header .menu__contenidoTitulo {
    text-decoration: none;
    color: #f6f6ff;
    font-weight: bold;
    font-size: 23px; }
  header .menu__contenidoLista {
    color: #FEFAE0;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    font-size: 23px; }
    header .menu__contenidoLista .menu__items {
      display: inline-block;
      margin: 10px 10px 10px 10px;
      position: relative; }
      header .menu__contenidoLista .menu__items .menu__itemsLink {
        display: inline-block;
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        color: #FEFAE0; }
        header .menu__contenidoLista .menu__items .menu__itemsLink:hover {
          color: #0a3e9a; }

/*CUERPO*/
/*Inicio*/
#cuerpoInicio {
  background-color: #f6f6ff;
  width: 100%;
  display: grid;
  grid-template-areas: 'imagenesCarrusel imagenesCarrusel imagenesCarrusel' 'imagenesCarrusel imagenesCarrusel imagenesCarrusel' 'pparrafoInicio parrafoInicio parrafoInicio' 'parrafoInicio parrafoInicio parrafoInicio';
  grid-template-columns: 12fr;
  align-items: center; }

.titulo__parrafo {
  padding: auto;
  color: #0a3e9a;
  text-align: center;
  transition: all 1s;
  font-weight: 700;
  margin: 40px 50px 40px 40px; }

.titulo__parrafo:hover {
  transform: scale(1.3, 1.3); }

.carrousel__area {
  text-align: center;
  grid-area: 'imagenesCarrusel';
  justify-content: start; }
  .carrousel__area img {
    width: 400px;
    height: 620px; }

.parrafoInicio {
  grid-area: 'parrafoInicio';
  color: black;
  word-spacing: 1px;
  font-size: 19px;
  padding: 10px 60px 5px 60px;
  justify-content: center; }

.parrafo__titulos {
  margin: 40px 50px 5px 40px;
  padding: auto;
  color: #0a3e9a;
  text-align: start;
  transition: all 1s; }

.parrafo__titulos:hover {
  transform: scale(1.05, 1.05); }

/*Candidatos*/
#cuerpoCandidato {
  background-color: #f6f6ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly; }

.cuerpoCandidatos {
  flex-basis: 100px;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px; }

.parrafo__candidatos {
  margin: 25px 35px 25px 25px;
  padding: 15px 15px 15px 15px;
  color: #0a3e9a;
  font-size: 40px; }

.parrafoGatosPerros {
  color: #f6f6ff;
  word-spacing: 1px;
  font-size: 35px;
  line-height: 40px;
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px;
  background-color: #5268cc;
  justify-content: center;
  font-weight: bold;
  align-content: center; }

.imgIzquierda {
  float: left;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  transition: 1s; }

.imgIzquierda:hover {
  transform: scale(1.2, 1.2); }

.reset {
  clear: both; }

.descripcion {
  color: black;
  word-spacing: 1px;
  font-size: 19px;
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px;
  align-content: center;
  list-style: none; }

/*Aplica*/
.parrafo__aplica {
  color: #f6f6ff;
  letter-spacing: 0.90px;
  word-spacing: 1px;
  font-size: 35px;
  line-height: 40px;
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px;
  background-color: #5268cc;
  text-align: center; }

#cuerpoAplica {
  background-color: #f6f6ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; }

/*Aplica*/
.formulario {
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px; }
  .formulario .formulario__cuerpo {
    background-color: #5268cc; }
    .formulario .formulario__cuerpo .formulario__aplica {
      font-weight: 750;
      text-align: center;
      word-spacing: 2px;
      font-size: 25px;
      line-height: 30px;
      color: #f6f6ff;
      margin: 5px;
      padding: 3px; }

.requisitos__contenido {
  color: black;
  word-spacing: 1px;
  font-size: 35px;
  line-height: 30px;
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px;
  text-align: center; }

.requisitos__contenidoLista {
  list-style: circle outside;
  text-decoration: none;
  margin: 3px;
  padding: 2px; }

.requisitos__parrafos {
  padding: 5px 5px 5px 5px; }

/*Mision*/
.cuerpoMision {
  background-color: #f6f6ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  flex-flow: row nowrap;
  grid-template-rows: 4fr 4fr 4fr;
  grid-template-columns: 100vh;
  grid-template-areas: 'parrafoMision parrafoMision parrafoMision' 'multimediaMision multimediaMision multimediaMision' 'parrafoMision2 parrafoMision2 parrafoMision2'; }

.parrafo__mision {
  color: #f6f6ff;
  word-spacing: 1px;
  font-size: 28px;
  line-height: 40px;
  margin: 15px 30px 50px 30px;
  padding: 25px 35px 25px 35px;
  text-align: center;
  align-items: center;
  grid-area: 'parrafoMision';
  background-color: #5268cc; }

.video__multimediaMision {
  grid-area: 'multimediaMision';
  text-align: center;
  align-items: center;
  margin: 15px 30px 30px 30px;
  padding: 25px 35px 25px 35px; }

.parrafo__mision2 {
  grid-area: 'parrafoMision2';
  text-align: center;
  align-items: center;
  margin: 15px 30px 30px 30px;
  padding: 25px 35px 25px 35px;
  color: black;
  word-spacing: 1px;
  font-size: 28px;
  line-height: 40px;
  font-weight: bolder; }

/*PIE DE PAGINA*/
/*PIE DE PAGINA*/
#colorFondoPie {
  background-color: #998799;
  display: grid;
  grid-template-areas: 'elemntos__imagenUbi elemntos__imagenWp elemntos__legales' 'elemntos__imagenUbi elemntos__imagenIg elemntos__legales' 'elemntos__imagenUbi elemntos__imagenFb elemntos__legales';
  grid-template-columns: 4fr 4fr 4fr;
  position: sticky;
  width: 100%; }
  #colorFondoPie .footer__elementos {
    color: black;
    text-decoration: none;
    justify-self: center;
    align-items: center;
    font-weight: 600; }
    #colorFondoPie .footer__elementos .footer__elementos:hover {
      color: #f6f6ff; }
    #colorFondoPie .footer__elementos .elemntos__imagenUbi {
      list-style-image: url(../imagenes/location_on_white_24dp.svg);
      list-style-position: inside;
      text-align: left;
      grid-area: 'elemntos__imagenUbi';
      padding: 5px; }
    #colorFondoPie .footer__elementos .elemntos__imagenWp {
      list-style-image: url(../imagenes/whatsapp_white_24dp.svg);
      list-style-position: inside;
      text-align: center;
      grid-area: 'elemntos__imagenWp';
      padding: 5px; }
    #colorFondoPie .footer__elementos .elemntos__imagenIg {
      list-style-position: inside;
      text-align: center;
      list-style-image: url(../imagenes/photo_camera_white_24dp.svg);
      grid-area: 'elemntos__imagenIg';
      padding: 5px; }
    #colorFondoPie .footer__elementos .elemntos__imagenFb {
      list-style-position: inside;
      text-align: center;
      list-style-image: url(../imagenes/thumb_up_off_alt_white_24dp.svg);
      grid-area: 'elemntos__imagenFb';
      padding: 5px; }
    #colorFondoPie .footer__elementos .elemntos__legales {
      list-style-position: inside;
      justify-self: center;
      text-align: right;
      list-style-image: url(../imagenes/privacy_tip_white_24dp.svg);
      grid-area: 'elemntos__legales';
      padding: 5px; }
    #colorFondoPie .footer__elementos .elementos__ajuste {
      color: black;
      text-decoration: none;
      justify-self: center;
      align-items: center;
      font-weight: 600; }
    #colorFondoPie .footer__elementos .elementos__ajuste:hover {
      color: #f6f6ff; }

/*PAGINA ERROR 404*/
.page_404 {
  background-color: #5268cc;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh; }

.four_zero_four_bg {
  color: #f6f6ff; }

.contant_box_404 {
  font-size: 30px;
  color: #f6f6ff; }

.boton_volver {
  text-decoration: none;
  align-self: start;
  color: #0a3e9a; }

/*HTML*/
html {
  font-family: 'Questrial', sans-serif; }

/*MEDIA QUERIE*/
/*ESCRITORIO*/
@media only screen and (max-width: 768px) {
  header {
    background-color: #5268cc;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 13px;
    margin: auto; }
  .lista li {
    display: inline;
    margin: 7px 7px 7px 7px;
    position: relative; }
  #cuerpoInicio {
    background-color: #f6f6ff;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'imagenesCarrusel imagenesCarrusel' 'imagenesCarrusel imagenesCarrusel' 'pparrafoInicio parrafoInicio' 'parrafoInicio parrafoInicio';
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 9fr; }
  .parrafoInicio {
    grid-area: 'parrafoInicio';
    color: black;
    word-spacing: 1px;
    font-size: 28px;
    line-height: 40px;
    margin: 15px 30px 50px 30px;
    padding: 25px 35px 25px 35px; }
  #colorFondoPie {
    background-color: #998799;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 3fr; } }

/*TABLET*/
@media only screen and (max-width: 767px) and (min-width: 321px) {
  header {
    background-color: #5268cc;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 13px;
    margin: auto; }
  .lista li {
    display: inline;
    margin: 7px 7px 7px 7px;
    position: relative; }
  #cuerpoInicio {
    background-color: #f6f6ff;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'imagenesCarrusel imagenesCarrusel ' 'imagenesCarrusel imagenesCarrusel ' 'pparrafoInicio parrafoInicio ' 'parrafoInicio parrafoInicio ';
    grid-template-columns: 1fr; }
  .imagenesCarrusel {
    text-align: center;
    grid-area: 'imagenesCarruse';
    justify-self: stretch; }
  .parrafoInicio {
    grid-area: 'parrafoInicio';
    color: black;
    word-spacing: 1px;
    font-size: 20px;
    line-height: 17px;
    margin: auto;
    padding: auto;
    text-align: center;
    align-items: center; }
  #colorFondoPie {
    background-color: #998799;
    display: grid;
    grid-template-areas: 'imagenUbicacion imagenWp legales' 'imagenUbicacion imagenIg legales' 'imagenUbicacion imagenFb legales';
    grid-template-columns: 4fr 4fr 4fr;
    position: sticky;
    width: 100%; } }

/*MOBILE*/
@media only screen and (max-width: 320px) {
  header {
    background-color: #5268cc;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: 10px;
    margin: auto; }
  .lista li {
    display: inline;
    margin: 7px 7px 7px 7px;
    position: relative; }
  #cuerpoInicio {
    background-color: #f6f6ff;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'imagenesCarrusel  ' 'imagenesCarrusel ' 'pparrafoInicio ' 'parrafoInicio ';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr; }
  .imagenesCarrusel {
    text-align: center;
    grid-area: 'imagenesCarruse';
    justify-self: stretch; }
  .parrafoInicio {
    grid-area: 'parrafoInicio';
    color: black;
    word-spacing: 1px;
    font-size: 20px;
    line-height: 17px;
    margin: auto;
    padding: auto;
    text-align: center;
    align-items: center; }
  #colorFondoPie {
    background-color: #998799;
    display: none;
    grid-template-columns: 4fr 4fr 4fr; } }
